.w-100-vw {
  width: 100vw;
}

.h-100-vh {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-flow: row;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
