@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, p, a, div, span {
    @apply text-black;
    @apply selection:bg-black selection:text-white selection:rounded-md;
  }
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/nunito-variable.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/raleway-variable.ttf) format('truetype');
}

h1 {
  font-family: Nunito, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-family: Nunito, sans-serif;
  font-size: 1.75rem;
}

h3 {
  font-family: Nunito, sans-serif;
  font-size: 1.375rem;
}

a {
  text-decoration: underline;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  position: relative;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container .track {
  @apply absolute;
  @apply right-0;
  @apply top-0;
  @apply w-5;
  @apply h-full;
  @apply overflow-hidden;
}

.scroll-container .track .thumb {
  @apply w-full;
  @apply bg-clip-content;
  @apply rounded-xl;
  @apply bg-black;
  @apply opacity-100;
  transition: opacity .3s;
  border: 6px solid transparent;
}
