@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/font/quicksand-variable.ttf) format('truetype');
}

html {
  color: #363636;
}

h1 {
  font-size: 2.7rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  max-width: 76ch;
  margin-bottom: 0.5rem;
  font-size: 18px;
}

a {
  font-weight: bolder;
  text-decoration: underline;
}

.bg-off-white {
  background-color: #efefef;
}
